<!-- <div class="row">-->
<!--    <div class="col-xl-6">-->

<!--    </div>-->

<!--    <div class="col-xl-12">-->
<!--        <div class="card">-->
<!--            <div class="card-header">Controles de color y opacidad</div>-->
<!--            <div class="card-body">-->
<!--                <div class="custom-item" *ngIf="!selected">-->

<!--                    <div class="custom-item">-->
<!--                        <div class="custom-item-body">-->
<!--                            <div class="custom-item-title">ID</div>-->

<!--                            <input type="text" class="form-control" value="No items selected">-->
<!--                        </div>-->


<!--                    </div>-->

<!--                    <div class="custom-item">-->

<!--                        <div class="custom-item-body">-->
<!--                            <div class="custom-item-title">Nombre</div>-->

<!--                            <input type="text" class="form-control" value="No items selected">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="custom-item">-->
<!--                        <div class="custom-item-title">Nivel de opacidad</div>-->

<!--                        <div class="custom-item-body">-->
<!--                            <input type="range" value="0">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="custom-item">-->
<!--                        <div class="custom-item-title">Color de relleno</div>-->
<!--                        <div class="custom-item-body">-->
<!--&lt;!&ndash;                            <input type="text" class="form-control" [cpPosition]="'bottom'"&ndash;&gt;-->
<!--&lt;!&ndash;                                [(colorPicker)]="props.fill" [style.background]="props.fill"&ndash;&gt;-->
<!--&lt;!&ndash;                                [value]="props.fill" (colorPickerChange)="setFill()">&ndash;&gt;-->
<!--                        </div>-->
<!--                    </div>-->

<!--                </div>-->
<!--                <div class="custom-item" *ngIf="selected && selected.type != 'group'">-->
<!--                    <div class="custom-item-body">-->
<!--                        <div class="custom-item-title">ID</div>-->
<!--&lt;!&ndash;                        <input type="text" class="form-control" [(ngModel)]="props.id"&ndash;&gt;-->
<!--&lt;!&ndash;                            (keyup)="setId()">&ndash;&gt;-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="custom-item" *ngIf="selected && selected.type != 'group'">-->
<!--                    <div class="custom-item-body">-->
<!--                        <div class="custom-item-title">Nombre</div>-->
<!--&lt;!&ndash;                        <input type="text" class="form-control" [(ngModel)]="props.nombre"&ndash;&gt;-->
<!--&lt;!&ndash;                            (keyup)="setName()">&ndash;&gt;-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="custom-item" *ngIf="selected && selected.type != 'group'">-->
<!--                    <div class="custom-item-title">Nivel de opacidad</div>-->
<!--                    <div class="custom-item-body">-->
<!--&lt;!&ndash;                        <input type="range" [(ngModel)]="props.opacity"&ndash;&gt;-->
<!--&lt;!&ndash;                            (change)="setOpacity()">&ndash;&gt;-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="custom-item" *ngIf="selected">-->
<!--                    <div class="custom-item-title">Color de relleno</div>-->
<!--                    <div class="custom-item-body">-->
<!--&lt;!&ndash;                        <input type="text" class="form-control" [cpPosition]="'bottom'"&ndash;&gt;-->
<!--&lt;!&ndash;                            [(colorPicker)]="props.fill" [style.background]="props.fill"&ndash;&gt;-->
<!--&lt;!&ndash;                            [value]="props.fill" (colorPickerChange)="setFill()">&ndash;&gt;-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--    </div>-->

<!--</div>-->
